
services:
  directus:
    image: directus/directus:latest
    ports:
      - "8055:8055"
    environment:
      KEY: "replace-with-random-key"
      SECRET: "replace-with-random-secret"
      ADMIN_EMAIL: "admin@example.com"
      ADMIN_PASSWORD: "ChangeMe123!"
      DB_CLIENT: "sqlite3"
      DB_FILENAME: "/directus/database/data.db"
      WEBSOCKETS_ENABLED: "true"
    volumes:
      - ./database:/directus/database
      - ./uploads:/directus/uploads
      - ./extensions:/directus/extensions
